body {
  font-family: "Open Sans", sans-serif;
}

/* Header Start */
.navbar {
  background-color: #f4f6ff;
}
.navbar .navbar-nav > li > a {
  color: #1200ff;
  padding: 10px;
}
.navbar .navbar-nav > li > a:hover {
  color: #b400ff;
  text-decoration: none;
}

.navbar-toggler-icon {
  font-size: 1rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18, 0, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* Header End */

/* Home Start */

/* Home End */

/* Course Start */
.card-title {
  font: 450 1.5rem "Oswald", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.details-header {
  background: linear-gradient(to right, rgb(17, 17, 17), rgb(64, 64, 165));
  color: white;
}
.reviews {
  color: rgb(51, 49, 49);
  background: #f0f0f0;
}
.fa-star,
.fa-star-o {
  color: rgb(221, 195, 48);
}

.course-name {
  font: 600 2rem "Oswald", "cursive";
}
.course-level {
  border-top: 0.5px dashed white;
  font-weight: 10;
}
/* Course End */

/* Footer Start */
.site-footer {
  background-color: #f4f6ff;
  padding: 20px 0;
}

.row-content {
  min-height: 300px;
}
/* Footer end */

/* Breadcrumb */
.breadcrumb {
  background-color: white;
}

.breadcrumb-item a {
  color: #1200ff;
  text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
  font-family: "FontAwesome";
  content: "\f101";
  color: #1200ff;
}

.breadcrumb .me {
  background-color: black;
}

/* About Page */
.about {
  background: linear-gradient(to right, rgb(17, 17, 17), rgb(64, 64, 165));
}
.about-header {
  font-size: 3.75rem;
}
@media only screen and (max-width: 600px) {
  .about-header {
    font-size: 1.75rem;
  }
}
span {
  color: rgb(243, 101, 7);
}
.beliefs {
  background: linear-gradient(to right, rgb(63, 63, 129), rgb(64, 64, 173));
  color: white;
}
.mission {
  font-size: 1.25rem;
}
.beliefs .row {
  padding: 0.75rem;
  font-size: 1.25rem;
}
